Repository dbm-network/mods, pull requests merged in 2020-08, with the labels that each got.

#499 chore: Add Documentation Field to PR Template
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta: documentation

#502 feat: previously stored json re-use is not forced
  actions/store_json_from_webapi_MOD.js
Labels: t: utility, type: enhancement

#506 Remove Blocklist
  actions/blocklist_MOD.js
  docs/mods.json
Labels: type: bugfix

#495 Convert to Morse Code
  actions/convert_to_morse_code_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#493 Store YouTube Channel Info
  actions/store_youtube_channel_info_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#512 Control Server Prefix action and Server Prefixes extension
  actions/control_server_prefix_MOD.js
  docs/extensions.json
  docs/mods.json
  extensions/server_prefixes/server_prefixes_EXT.js
Labels: section: actions, section: extensions, t: utility, type: enhancement

#518 fix(StoreYoutubeChannelInfo): invalid option
  actions/store_youtube_channel_info_MOD.js
Labels: section: actions, t: utility, type: bugfix

#492 Store Playlist Info
  actions/store_playlist_info_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#524 fix(mods): no video fatal error
  actions/youtube_search_MOD.js
Labels: section: actions, type: bugfix

#527 Update convert_to_morse_code_MOD.js
  actions/convert_to_morse_code_MOD.js
Labels: section: actions, type: bugfix

#530 Convert to Base64
  convert_to_base64_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#539 Create Send File to Webhook
  actions/send_file_to_webhook_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#482 Store Shard Info
  actions/store_shard_info_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#540 chore(mods): update RegEx builder website
  actions/store_regex_matched_variable_MOD.js
Labels: meta: documentation, section: actions

#542 fix(mods): attach file to embed, V12 compatibility
  actions/edit_embed_object_MOD.js
Labels: t: utility, type: bugfix

#543 refactor(mods): store game info
  actions/store_game_info_MOD.js
Labels: t: utility, type: bugfix

#546 refactor(data): switched all data actions to Data instead of Deprecated
  actions/check_global_data_MOD.js
  actions/check_member_data.js
  actions/check_server_data.js
  actions/control_global_data_MOD.js
  actions/delete_global_data_MOD.js
  actions/delete_member_data_MOD.js
  actions/delete_server_data_MOD.js
  actions/store_global_data_MOD.js
  docs/mods.json
Labels: meta: refactor, on hold, section: actions, semver: patch

#548 fix: event destroying the bot process and subtitles for Store Attachment Info
  actions/store_attachment_info_MOD.js
  events/message_reaction_added_EVT.js
  events/message_reaction_removed_EVT.js
Labels: section: actions, section: events, t: utility, type: bugfix

#549 Fix Control Server Prefix
  actions/control_server_prefix_MOD.js
Labels: section: actions, t: utility, type: bugfix

#550 Fix Server Prefixes
  extensions/server_prefixes/server_prefixes_EXT.js
Labels: section: extensions, t: utility, type: bugfix

#553 fix(events): DM reactions
  events/message_reaction_added_EVT.js
  events/message_reaction_removed_EVT.js
Labels: section: events, type: bugfix

#552 Panel Update / Fixes
  extensions/dbm_dashboard/README.md
  extensions/dbm_dashboard/dashboard_EXT.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/adminPanel/adminPanel_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboard/dashboard_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboardPanel/dashboardPanel_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/home_page/home_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/profile/profile_route.js
Labels: section: extensions, type: bugfix

#554 Update dashboard_EXT.js
  extensions/dbm_dashboard/dashboard_EXT.js
Labels: section: extensions, type: bugfix

#562 new(events): added invite used, fixed moved VC, docs
  docs/events.json
  events/invite_used_EVT.js
  events/member_move_voice_channel_EVT.js
  events/on_audio_end_EVT.js
  events/on_audio_pause_EVT.js
  events/on_audio_resume_EVT.js
  events/on_audio_start_EVT.js
  events/on_audio_volume_change_EVT.js
Labels: meta: refactor, section: events

#563 fix(events): bot not starting.
  events/invite_used_EVT.js
Labels: type: bugfix

#565 readme: href title
  README.md
Labels: meta: documentation
