Repository dbm-network/mods, pull requests merged in 2020-10, with the labels that each got.

#584 fix(events): move member vc conditions
  events/member_move_voice_channel_EVT.js
Labels: section: events, type: bugfix

#580 Update file_control_MOD.js
  actions/file_control_MOD.js
Labels: section: actions, type: bugfix

#585 fix(actions): download file call next action
  actions/download_file_MOD.js
Labels: section: actions, type: bugfix

#576 Enhancing File Control
  actions/file_control_MOD.js
Labels: section: actions, type: enhancement

#588 Update set_bot_activity_MOD.js
  actions/set_bot_activity_MOD.js
Labels: section: actions, t: utility, type: enhancement

#590 Update create_server_MOD.js
  actions/create_server_MOD.js
Labels: section: actions, type: bugfix

#593 A quick fix for Delete Server Data MOD
  actions/delete_server_data_MOD.js
Labels: section: actions, type: bugfix
