Repository dbm-network/mods, pull requests merged in 2020-12, with the labels that each got.

#598 A mod that let you edit webhook
  actions/edit_webhook.js
  docs/mods.json
Labels: section: actions, type: enhancement

#615 Dashboard extension update
  extensions/dbm_dashboard/dashboard_EXT.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/bot_info/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/bot_info/bot_info.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/bot_info/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/delete_bulk_messages/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/delete_bulk_messages/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/delete_bulk_messages/index.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/eval/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/eval/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/eval/index.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/global_prefix/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/global_prefix/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/global_prefix/index.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/leave_server/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/leave_server/index.js
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/send_embed_message/__resource.json
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/send_embed_message/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/mods/send_embed_message/index.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/adminPanel/adminPanel_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/adminPanel/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/adminPanel/main.css
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboard/dashboard_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboard/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboard/main.css
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboardPanel/dashboardPanel_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboardPanel/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/dashboardPanel/main.css
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/home_page/home_route.js
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/home_page/index.ejs
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/home_page/main.css
  extensions/dbm_dashboard/dashboard_EXT/actions/routes/profile/profile_route.js
  extensions/dbm_dashboard/dashboard_EXT/config.json
Labels: section: extensions, type: enhancement

#618 Add delete invite action
  actions/delete_invite.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#587 Update play_youtube_playlist_MOD.js
  actions/play_youtube_playlist_MOD.js
Labels: section: actions, type: enhancement

#614 Creation of the Local Database MOD & Publish Message MOD
  actions/crosspost_message_MOD.js
  actions/local_database_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement
