Repository dbm-network/mods, pull requests merged in 2021-07, with the labels that each got.

#726 Support Multiple Bot Owners extension in Check If Member
  actions/check_if_member_MOD.js
Labels: section: actions, t: utility, type: enhancement

#727 Fix JSON decoding in Send JSON to WebAPI
  actions/send_json_to_webapi_MOD.js
Labels: section: actions, t: utility, type: bugfix

#730 Fix Await Reaction not working in events
  actions/await_reaction_call_action_MOD.js
Labels: section: actions, semver: patch, t: utility, type: bugfix

#731 minor code change
  actions/await_response_call_action_MOD.js
Labels: meta: cleanup, section: actions, t: utility

#732 Missing check for search input in Find Message
  actions/find_message_MOD.js
Labels: meta: cleanup, section: actions, t: utility

#737 chore: refactor
  .editorconfig
  .eslintrc.json
  .eslintrc.yml
  .gitattributes
  .github/workflows/lint.yml
  .gitignore
  LICENSE.md
  actions/check_if_user_reacted_MOD.js
  actions/control_server_prefix_MOD.js
  actions/edit_webhook.js
  actions/file_control_MOD.js
  actions/store_shard_info_MOD.js
  events/cron_scheduler_EVT.js
  events/delete_bulk_messages_EVT.js
  events/invite_create_EVT.js
  events/invite_delete_EVT.js
  events/invite_used_EVT.js
  events/member_boosted_server_EVT.js
  events/member_move_voice_channel_EVT.js
  events/member_start_streaming_EVT.js
  events/member_stop_streaming_EVT.js
  events/message_reaction_added_EVT.js
  events/message_reaction_removed_EVT.js
  events/on_member_nickname_changed_EVT.js
  events/on_member_role_add_EVT.js
  events/on_member_role_removed_EVT.js
  events/on_topgg_vote_EVT.js
  events/user_update_EVT.js
  extensions/dbm_dashboard/dashboard_EXT.js
  extensions/server_prefixes/server_prefixes_EXT.js
  extensions/topgg/topgg_EXT.js
  package-lock.json
  package.json
Labels: meta: cleanup

#744 convert to async, fix calling next action too much
  actions/youtube_search_MOD.js
Labels: section: actions, t: utility, type: bugfix

#741 Fix/Refactor Clone Channel action
  actions/clone_channel_MOD.js
Labels: meta: refactor, section: actions, t: utility

#746 Fix Actions calling next action multiple times
  actions/send_message_to_console_MOD.js
  actions/set_bot_activity_MOD.js
  actions/weather_MOD.js
Labels: section: actions, t: utility, type: bugfix

#743 Set Member Voice Channel: Fix calling next action too much
  actions/set_member_voice_channel_perms_MOD.js
Labels: section: actions, t: utility, type: bugfix

#742 Added Bot Sharder
  .github/workflows/lint.yml
  sharder/README.md
  sharder/sharded-bot.js
Labels: meta: refactor, section: sharder, t: utility, type: enhancement
