Repository dbm-network/mods, pull requests merged in 2021-06, with the labels that each got.

#686 Fix - Join/Leave Voice Event avoids Stage Channels
  events/member_join_voice_channel_EVT.js
  events/member_leave_voice_channel_EVT.js
Labels: section: events, type: bugfix

#689 Events Revamp
  events/cron_scheduler_EVT.js
  events/delete_bulk_messages_EVT.js
  events/member_boosted_server_EVT.js
  events/member_join_voice_channel_EVT.js
  events/member_leave_voice_channel_EVT.js
  events/member_move_voice_channel_EVT.js
  events/member_start_streaming_EVT.js
  events/member_stop_streaming_EVT.js
  events/message_reaction_added_EVT.js
  events/message_reaction_removed_EVT.js
  events/on_audio_end_EVT.js
  events/on_audio_pause_EVT.js
  events/on_audio_resume_EVT.js
  events/on_audio_start_EVT.js
  events/on_audio_volume_change_EVT.js
  events/on_member_nickname_changed_EVT.js
  events/on_member_role_add_EVT.js
  events/on_member_role_removed_EVT.js
  events/on_topgg_vote_EVT.js
  events/user_update_EVT.js
Labels: meta: refactor, section: events

#695 Fix calling next action twice
  actions/play_youtube.js
Labels: section: actions, type: bugfix

#697 Fixed used being undefined sometimes, don't fire
  events/invite_used_EVT.js
Labels: section: events, type: bugfix

#696 Fix Sorting
  actions/member_data_list_MOD.js
Labels: section: actions, type: bugfix

#699 Finally switch from request to node-fetch
  actions/store_html_from_webpage_MOD.js
Labels: meta: cleanup, section: actions

#701 Change from request to node-fetch
  actions/store_json_from_webapi_MOD.js
Labels: meta: cleanup, section: actions

#700 Lots of mods use eval, turn the rule off.
  .eslintrc.yml
  actions/await_reaction_call_action_MOD.js
  actions/await_response_call_action_MOD.js
  actions/canvas_create_background_MOD.js
  actions/delete_bulk_messages_MOD.js
  actions/parse_from_stored_json_MOD.js
  actions/store_data_list_MOD.js
  actions/store_json_from_webapi_MOD.js
Labels: meta: cleanup

#706 Remove unused methods
  actions/aaa_dbmmods_dependencies_MOD.js
Labels: meta: cleanup

#705 Change from reques to node-fetch & debug mode change
  actions/send_json_to_webapi_MOD.js
Labels: meta: refactor, section: actions, t: utility

#702 Change to fetch non cached user & html updates
  actions/find_member.js
Labels: section: actions, type: enhancement

#704 Minor code updates
  actions/youtube_search_MOD.js
Labels: meta: refactor, section: actions

#713 Change from ytdl-core to youtubei
  actions/play_youtube.js
Labels: meta: refactor, section: actions, t: utility

#714 Changed module used on Youtube Search
  actions/youtube_search_MOD.js
Labels: meta: refactor, section: actions, t: utility, type: bugfix

#712 Remove var Usage & Spelling Fixes
  actions/check_if_user_reacted_MOD.js
  actions/emit_event_MOD.js
  actions/filter_list_or_object_MOD.js
  actions/inspect_list_or_object_MOD.js
  actions/loop_through_folder_MOD.js
  actions/member_data_list_MOD.js
  actions/mod_info_MOD.js
  actions/parse_from_stored_json_MOD.js
  actions/parse_from_stored_webpage_MOD.js
  actions/run_sql_query_MOD.js
  actions/store_date_info_plus_MOD.js
  actions/store_twitch_info_MOD.js
  actions/variable_pattern_MOD.js
Labels: meta: refactor, section: actions

#716 Added channels and role mentions in message info action
  actions/store_message_info.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#715 Added support for Current and Average CPU Usage in Store Bot Client Info
  actions/store_bot_client_info_MOD.js
Labels: section: actions, t: utility, type: enhancement

#703 Added Store User Info
  actions/store_user_info_MOD.js
  docs/mods.json
Labels: section: actions, t: utility, type: enhancement

#720 Move user from info to return statement
  actions/store_user_info_MOD.js
Labels: meta: cleanup, section: actions

#719 Fix behaviour of 'If Message Delivery Fails'
  actions/send_embed_message.js
  actions/send_message.js
Labels: section: actions, type: bugfix

#709 Update File Control
  actions/file_control_MOD.js
Labels: meta: refactor, section: actions, type: bugfix

#721 Remove the top embed that was broken
  actions/game_server_MOD.js
Labels: meta: cleanup, section: actions

#718 Add options for strict conversion in Convert Variable
  actions/convert_variable_MOD.js
Labels: section: actions, t: utility, type: enhancement

#722 Get rid of trivial modules
  actions/repeat_string_MOD.js
  actions/replace_text_MOD.js
Labels: meta: cleanup, section: actions, t: utility

#723 Delete set_bot_typing_MOD.js
  actions/set_bot_typing_MOD.js
Labels: meta: cleanup, section: actions

#724 Enable Is Speaking? option in Check if member action
  actions/check_if_member_MOD.js
Labels: section: actions, t: utility
