Repository dbm-network/mods, pull requests merged in 2021-12, with the labels that each got.

#828 We removed all of the edited default actions.
  actions/add_embed_field.js
  actions/ban_member.js
  actions/call_command_or_event.js
  actions/check_if_member_has_role_MOD.js
  actions/check_member_data.js
  actions/check_parameters.js
  actions/check_server_data.js
  actions/check_variable.js
  actions/create_embed_message.js
  actions/delete_bulk_messages_MOD.js
  actions/edit_channel_MOD.js
  actions/edit_message.js
  actions/find_member.js
  actions/play_youtube.js
  actions/run_script.js
  actions/set_channel_permissions.js
  actions/set_embed_footer_MOD.js
  actions/shuffle_queue_MOD.js
  actions/skip_queue.js
  actions/store_message_info.js
  actions/store_role_info.js
  actions/store_voice_channel_info.js
  docs/mods.json
Labels: meta: cleanup

#818 DBL -> TopGG
  actions/check_dbl_voted_MOD.js
  actions/get_stats_from_dbl_MOD.js
  actions/send_stats_to_dbl_MOD.js
Labels: section: actions

#819 server_prefixes_EXT.js (change to DBM 2.0 )
  extensions/server_prefixes/server_prefixes_EXT.js
Labels: type: bugfix, section: extensions

#822 Update store_bot_client_info_MOD.js
  actions/store_bot_client_info_MOD.js
Labels: type: bugfix, section: actions

#830 Fix for Store Attachments Info mod [DBM v2]
  actions/store_attachment_info_MOD.js
Labels: type: bugfix, section: actions
