Repository dbm-network/mods, pull requests merged in 2022-10, with the labels that each got.

#913 remove redundant mod
  actions/math_operation_MOD.js
Labels: section: actions

#914 Stop crashing if webhook can not be created in channel
  actions/create_webhook_MOD.js
Labels: type: bugfix, section: actions

#912 morsify (deprecated) to morse-decoder
  actions/convert_to_morse_code_MOD.js
Labels: t: utility, type: bugfix, section: actions
