Repository dbm-network/mods, pull requests merged in 2022-03, with the labels that each got.

#854 Fix permissions handler
  events/invite_used_EVT.js
Labels: type: bugfix, section: events

#859 Compability with discordjs v13 set role permissions
  actions/set_role_perms_MOD.js
Labels: type: bugfix, section: actions

#799 Parse from stored json fix
  actions/parse_from_stored_json_MOD.js
Labels: type: bugfix, section: actions

#861 Added missing- , sorted and re-arranged permissions
  actions/set_role_perms_MOD.js
Labels: type: enhancement, section: actions

#862 Fixed Top.gg dependencies
  actions/check_dbl_voted_MOD.js
Labels: type: bugfix, section: actions
